<!DOCTYPE html>
<!--
  Copyright 2013 Frederik Zipp. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Go source code guru</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1>Scope {{.Scope}}</h1>
    <p>
      <input type="checkbox" id="show-std">
      <label for="show-std">Show standard packages</label>
    </p>
    {{range .Packages}}
    <div class="pkg {{if stdpkg .Pkg.Path}}std{{end}}">
      <h2>{{.Pkg.Path}}</h2>
      <ul class="files">
      {{range .Files}}
        <li><a href="source?file={{filename .}}" title="{{filename .}}">{{filename . | base}}</a></li>
      {{end}}
      </ul>
    </div>
    {{end}}
    <script src="static/jquery.min.js"></script>
    <script>
      $(() => {
        const stdPackages = $('.pkg.std').hide();
        $('#show-std').change(function() {
          stdPackages.toggle($(this).is(':checked'));
        });
      });
    </script>
  </body>
</html>
