<!DOCTYPE html>
<!--
  Copyright 2013 Frederik Zipp. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "home-link"}}<p class="home-link"><a href="/">Back to scope index</a></p>{{end}}

<html>
  <head>
    <meta charset="utf-8">
    <title>Go source code oracle</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body style="padding: 0;">
    <div class="ui-layout-center" id="content">
      <h1>Source file {{.}}</h1>
      <div style="overflow: hidden">
        <div style="float: left">
          Select or click within the source code to consult the oracle.
          {{template "home-link"}}
        </div>
        <div class="buttons" style="float: right; margin-right: 80px;">
          <span id="impl-button"></span>
          <span id="cgraph-button"></span>
        </div>
      </div>
      <div id="source"></div>
      {{template "home-link"}}
    </div>
    <div class="ui-layout-south">
      <div class="out"></div>
      <div class="orientation-btn vert"
           title="Switch to vertical output pane">&#x7c;</div>
    </div>
    <div class="ui-layout-east">
      <div class="out"></div>
      <div class="orientation-btn horiz"
           title="Switch to horizontal output pane">&mdash;</div>
    </div>

    <script src="static/jquery.min.js"></script>
    <script src="static/jquery-ui.min.js"></script>
    <script src="static/jquery-layout.min.js"></script>
    <script src="static/oracle.js"></script>
    <script>
      $(function() {
        var paneKey = 'pythia.out.pane';
        var pane = localStorage[paneKey] || 'south';

        var goldenRatio = 0.382;
        var body = $('body')
        var layout = body.layout({
          applyDefaultStyles: true,
          south: {
            size: 200,
            initClosed: true,
            initHidden: (pane != 'south')
          },
          east: {
            size: Math.floor(body.width() * goldenRatio),
            initClosed: true,
            initHidden: (pane != 'east')
          }
        });

        function changeOrientation(from, to) {
          layout.hide(from);
          layout.show(to);
          layout.open(to);
          pane = to;
          localStorage[paneKey] = pane;
        }

        $('.orientation-btn.vert').click(function() {
          changeOrientation('south', 'east');
        });
        $('.orientation-btn.horiz').click(function() {
          changeOrientation('east', 'south');
        });

        var out = $('.out');
        out.on('change', function() {
          layout.open(pane);
        });
        out.on('esc', function() {
          layout.close(pane);
        });
        oracle.init($('#source'), out, '{{.}}');
        oracle.makeQueryButton($('#cgraph-button'), 'callgraph');
        oracle.makeQueryButton($('#impl-button'), 'implements');
      });
    </script>
  </body>
</html>
