body {
  color: #222;
  font: 16px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 20px;
}

h1 {
  color: #375eab;
  font-size: 24px;
  margin: 20px 0;
  padding: 0;
}

a {
  color: #375eab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.files {
  list-style: none;
  margin: 20px;
  padding: 0;
}

.home-link {
  font-size: smaller;
}

.code {
  background: #e9e9e9;
  border-radius: 5px;
  font: 14px Menlo, monospace;
  margin: 20px;
  padding: 10px;
  width: 95%;
}

.code td {
  vertical-align: top;
}

.nums {
  color: #999;
  cursor: default;
  padding-right: 10px;
  text-align: right;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: 48px;
}

.lines {
  white-space: pre;
}

.comment {
  color: #060;
}

.selection {
  background: #ff9632;
}

.out {
  font: 14px Menlo, monospace;
  margin: 0;
  overflow: auto;
  padding: 10px;
  white-space: pre;
}

.out a {
  cursor: pointer;
}

.out a:hover {
  background: #e0ebf5;
  text-decoration: none;
}

.ui-layout-pane {
  border: 0 !important;
}

.ui-layout-center {
  padding: 0 20px !important;
}

.ui-layout-south {
  padding: 0 !important;
}

.menu {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 999;
}

.menu li {
  cursor: pointer;
  padding: 5px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.menu li:hover {
  background: #e0ebf5;
}

.menu li.disabled {
  color: #999;
}

.button {
  background: #e0ebf5;
  border: 1px solid #375eab;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.buttons {
  margin: 12px;
}
